# dependencies
node_modules/

# next.js
.next/
out/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# build
dist/

# payload
# payload-types.ts is versioned in packages/types/src/

# coverage
coverage/

# terraform
*.tfstate
*.tfstate.backup
.terraform/
*.tfplan

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
